AllowUrl={"urls": ["http://localhost:4444", "https://localhost:4444", "http://localhost:7777"]}
PORT=4444
BackendUrl='http://localhost:7000'
NODE_ENV=development
API_KEY=
SUB_DOMAIN=
BUILD_BRANCH=
GoogleClientId=
HashString=
TINY_KEY=
userRoles={"roles": ["clc-admin", "Developer"]}
